<div class="flex-container">
   <table class="table table-striped" prevent-linebreak>
      <thead>
         <tr>
            <th *ngFor="let name of columnNames">{{name}}</th>
            <th *ngIf="columnNames.length">Order</th>
            <th *ngIf="columnNames.length">
               <button type="button" class="btn btn-primary btn-add" *ngIf="columnNames.length"
                  (click)="addRow()"><i class="mdi mdi-plus-outline"></i></button>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let row of tableRows; let i = index">
            <td *ngFor="let columnName of columnNames" (focusout)="editValue($event, columnName, i)"
               contenteditable="true">
               {{row[columnName]}}
            </td>
            <td class="order">
               <button type="button" class="btn btn-primary btn-up"
                  (click)="moveRow(i, 'up')"><i class="mdi mdi-arrow-up-bold-outline"></i></button>
               <button type="button" class="btn btn-primary" (click)="moveRow(i, 'down')"><i class="mdi mdi-arrow-down-bold-outline"></i></button>
            </td>
            <td>
               <button type="button" class="btn btn-primary btn-remove" (click)="removeRow(i)"><i class="mdi mdi-delete-outline"></i></button>
            </td>
         </tr>
      </tbody>
   </table>
</div>